[Desktop Entry]
Version=1.0
Type=Application
Exec=oblogout
Icon=system-log-out
StartupNotify=false
Terminal=false
Categories=System;
Name=Log Out
Comment=Log out of the Openbox Desktop
